
html { 
  background: black; 
  color: white;
}
#event .stage { position: relative; width: 663px; height: 663px;}
#event #start {
  background-color: orange;
  color: white;
  padding: 5px 60px;
  border-radius: 7px;
  text-decoration: none;
}

        
