
html { 
  background: black; 
  color: white;
}
#event .stage { position: relative; width: 663px; height: 663px;}
#event #start { position: absolute; left: 50%; top: 50%; width: 100px; height: 100px; line-height: 100px; text-align: center; margin: -50px 0 0 -50px; background-color: #000; color: #fff; }
        
